{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4 text-center shadow p-2 text-info">Bienvenue dans le monde des Héros !!</h1>
    </div>
    
{% endblock %}