<form method="post" action="{{ path('figurines_delete', {'id': figurine.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ figurine.id) }}">
    <button class="btn">Delete</button>
</form>
