{% extends "base.html.twig" %}

{% block title %}
    Payez votre commande
{% endblock %}

{% block body %}
    <h1 class="text-center mb-5">Paiement</h1>

    <div class="container">
        <div class="border border-warning">
            <div class="p-5">
                <!-- Set up a container element for the button -->
                <div id="paypal-button-container" class="d-flex flex-wrap justify-content-center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Produit</th>
                                <th>Quantité</th>
                                <th>Prix</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in items %}
                                <tr>
                                    <td>{{ item.figurine.name }}</td>
                                    <td>{{ item.qty}} </td>
                                    <td>{{ item.total / 100 }} €</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot> 
                            <tr>
                                <td colspan="2"> Total : </td>
                                <td>{{ total }} €</td>
                            </tr>
                        </tfoot>
                        <script>
                            paypal.Buttons({
                                // Order is created on the server and the order id is returned
                                createOrder() {
                                return fetch("/my-server/create-paypal-order", {
                                    method: "POST",
                                    headers: {
                                    "Content-Type": "application/json",
                                    },
                                    // use the "body" param to optionally pass additional order information
                                    // like product skus and quantities
                                    body: JSON.stringify({
                                    cart: [
                                        {
                                        sku: "YOUR_PRODUCT_STOCK_KEEPING_UNIT",
                                        quantity: "YOUR_PRODUCT_QUANTITY",
                                        },
                                    ],
                                    }),
                                })
                                .then((response) => response.json())
                                .then((order) => order.id);
                                },
                                // Finalize the transaction on the server after payer approval
                                onApprove(data) {
                                return fetch("/my-server/capture-paypal-order", {
                                    method: "POST",
                                    headers: {
                                    "Content-Type": "application/json",
                                    },
                                    body: JSON.stringify({
                                    orderID: data.orderID
                                    })
                                })
                                .then((response) => response.json())
                                .then((orderData) => {
                                    // Successful capture! For dev/demo purposes:
                                    console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                                    const transaction = orderData.purchase_units[0].payments.captures[0];
                                    alert(`Transaction ${transaction.status}: ${transaction.id}\n\nSee console for all available details`);
                                    // When ready to go live, remove the alert and show a success message within this page. For example:
                                    // const element = document.getElementById('paypal-button-container');
                                    // element.innerHTML = '<h3>Thank you for your payment!</h3>';
                                    // Or go to another URL:  window.location.href = 'thank_you.html';
                                });
                                }
                            }).render('#paypal-button-container');
                        </script>
                    </table>
                </div>    
            </div>
        </div>
    </div>

    
{% endblock %}