{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<h1>Formulaire de contact</h1>
<div class="container">
{% for message in app.flashes('success') %}
     <div class="alert alert-success mt-4">
          {{ message }}
     </div>
{% endfor %}
<div class="border border-solid border-warning p-5 mt-4">
     {{ form(form)}}
</div>
    
                
</div>
{% endblock %}
