<footer>
  <section class="bg-primary p-5  fixed text-white text-center mt-5  w-100">
    <p class="font-weight-bold ">Heroes Collector</p>

      <div class="d-flex justify-content-center">
        <i class="fab fa-instagram fa-2x mx-3"></i>
        <i class="fab fa-snapchat fa-2x mx-3"></i>
        <i class="fab fa-twitter fa-2x mx-3"></i>
        <i class="fab fa-facebook fa-2x mx-3"></i>
        <i class="fab fa-whatsapp fa-2x mx-3"></i>
      </div>
  </section>
</footer>