{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1 class="text-center mt-3">Modification Utilisateur</h1>

    <div class="container">

        <div class="border border-warning mt-5 mb-5 p-5">
            {{ include('users/_form.html.twig', {'button_label': 'Update'}) }}
            {{ include('users/_delete_form.html.twig') }}
        </div>
        <a href="{{ path('app_user') }}">back to list</a>

    </div>
    
{% endblock %}
